name: Build C++

on:
  push:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install compiler
        run: |
          sudo apt-get update
          sudo apt-get install -y g++

      - name: Build project
        run: g++ -std=c++17 -O2 -Wall -Wextra -o app main.cpp

